<br/>
<form action="/" method="post">
  <input type="text" name="text" cols="20" rows="20">
  <input type="password" name="password">
  <button name="submit">
    <strong>SHOUT!!!!</strong>
  </button>
</form>


<% @shout.each do |shout| %>
  <ul class="ul-one">
    <li><strong><%= shout.user.name %></strong> <small>@<%= shout.user.handle %> . <%= shout.created_at.strftime("%d %b") %></small></li>
    <li><%= shout.message %></li>
    <li><br/><small>likes</small> (<%= shout.likes %>) <a href="/like/<%= shout.id %>">+1</a> <a href="/dislike/<%= shout.id %>"> -1</a></li>
</ul>
<% end %>

